# Python-specific ignores
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment
venv/
env/

# Distribution / packaging
*.egg-info/
dist/
build/
*.whl

# VS Code
.vscode/

# macOS specific
.DS_Store

# Windows specific
Thumbs.db

# PyInstaller
*.spec

# Jupyter Notebook
.ipynb_checkpoints/

# IDE configurations (e.g., PyCharm)
.idea/

# Python egg cache
.eggs/
